body{
    margin: 0;
    padding: 0;
    background:rgb(205, 204, 204);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.terms-box{
    min-width: 390px;
    max-width: 460px;
    background-color: rgb(241, 241, 241);
    color: rgb(26, 25, 25);
    padding: 60px 30px;
    border-radius: 20px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
}

.terms-text{
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 500;
}

.terms-text p{
    text-align: left;
    color: rgb(39, 39, 39);
}

.terms-text::-webkit-scrollbar{
    width: 2px;
    background-color: gray;
}

.terms-text::-webkit-scrollbar-thumb{
    background-color: rgb(108, 2, 2);
}

.terms-text h2{
    text-transform: uppercase;
}

.terms-box h4{
    font-size: 13px;
    text-align: center;
    padding: 0 40px;
}

.terms-box h4 span{
    color: rgb(108, 2, 2);
}


.box-buttons{
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.btn{
    height: 40px;
    width: calc(50% - 50px);
    border: 0;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(219, 219, 219);
    transition: .3s linear;
    border-radius: 8px;
    text-transform: uppercase;
    
}

.red-btn{
    background: rgb(108, 2, 2);
    margin-right: 10px;
}

.btn a{
    color: rgb(219, 219, 219);
    text-decoration: none;
}

.red-btn:hover{
    opacity: .8;
}